*.zip
squid_manager.db
1.py
__pycache__/squid_control_center_v8.cpython-313.pyc
squid_control_center_v5.py
squid_control_center_v6.py
squid_control_center_v7.py
*.bak
dist/webengine_crash.log
dist/squid_manager.pyc
/temp
